.place__website_artist {
  position: relative;
  margin: 0;
  padding-bottom: 26px;
  max-width: 456px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
}

.place:nth-of-type(4) .place__website_artist:nth-last-of-type(2) {
  padding: 0;
  height: 26px;
}