@import url(./fonts/Inter_Web/inter.css);

body {
  background-color: #2A2C2F;
}

.page {
  position: relative;
  max-width: 1280px;
  background-color: #2A2C2F;
  /*border: 1px solid white;*/
}

.logo {
  position: relative;
  margin: 0 auto;
  padding-top: 34px;
  width: 270px;
  height: 70px;
  align-items: center;
  /*border: 1px solid white;*/
}

.logo__square-vector {
  position: relative;
  background-color: #0278fe;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  align-items: center;
}

.logo__horizontal-vector {
  position: absolute;
  background-color: #2A2C2F;
  top: 6px;
  width: 32px;
  height: 2px;
}

.logo__vertical-vector {
  position: absolute;
  background-color: #2A2C2F;
  width: 2px;
  height: 26px;
  top: 6px;
  left: 11px;
}

.logo__text {
  position: absolute;
  max-width: inherit;
  margin: 0 auto;
  bottom: 1.43%;
  text-align: center;
  font-family: 'inter';
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.lead {
  position: relative;
  margin: 0 auto;
  padding-top: 91px;
  width: 984px;
  height: 983px;
  align-items: center;
  /*border: 1px solid white;*/
}

.lead__title {
  position: relative;
  margin: 0 auto;
  padding-bottom: 32px;
  text-align: center;
  align-items: center;
  max-width: 793px;
  max-height: 200px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  font-size: 96px;
  color: #ffffff;
}

.lead__subtitle {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  max-height: 72px;
  align-items: center;
  text-align: center;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
}

.lead__image {
  position: absolute;
  max-width: inherit;
  max-height: 100%;
  bottom: 0;
  object-fit: cover;
}

.lead__image_overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  bottom: 0;
  background-color: #000;
  mix-blend-mode: hue;
}

.intro {
  position: relative;
  margin-left: 148px;
  padding: 92px 0 66px;
  max-width: 883px;
  height: 542px;
  /*border: 1px solid white;*/
}

.intro__title {
  position: relative;
  margin: 0;
  padding-bottom: 40px;
  max-width: inherit;
  max-height: 116px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  /*border: 1px solid white;*/
}

.intro__text {
  position: relative;
  font-family: 'inter';
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  /*border: 1px solid white;*/
}

.intro__text:nth-of-type(2) {
  margin: 0;
  max-width: 758px;
  max-height: 170px;
  font-size: 24px;
  line-height: 142%;  
}

.intro__text:nth-of-type(3) {
  margin: 0;
  max-width: 720px;
  max-height: 34px;
  font-size: 24px;
  line-height: 142%;
  text-align: right;
}

.intro__text:last-of-type{
  margin: 0;
  padding-top: 8px;
  max-width: 720px;
  max-height: 208px;
  font-size: 16px;
  line-height: 163%;
}

.photo-grid {
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  height: 442px;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 16px;
  /*border: 1px solid white;*/
}

.photo-grid__item {
  margin: 0;
  max-width: 284px;
  height: 213px;
  object-fit: contain;
  box-sizing: border-box;
}

.places {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  /*row-gap: 80px;*/
  align-content: space-between;
  justify-content: space-between;
  margin: 0;
  left: 145px;
  padding: 92px 0;
  max-width: 987px;
  height: 4098px;
  /*border: 1px solid white;*/
}

.place {
  position: relative;
  margin: 0;
  /*padding-top: 90px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7 , 1fr);
  row-gap: 10px;
  max-width: inherit;
  height: 756px;
}

.place__title {
  position: relative;
  margin: 0;
  padding-bottom: 48px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 460px;
  max-height: 228px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
}

.place:nth-of-type(3) .place__title:first-of-type {
  font-size: 60px;
  line-height: 60px;
}

.place__image {
  position: relative;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  max-width: 460px;
  max-height: 460px;
  object-fit: contain;
}

.place__button {
  position: relative;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 7;
  max-width: 304px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;
  background-color: #0278fe;
  border-radius: 4px;
}

.place__button:hover {
  background-color: #0063d2;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.place__button_paragraph {
  position: relative;
  margin: 0;
  max-width: 264px;
  max-height: 22px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.place__website {
  position: relative;
  margin: 0;
  max-width: 456px;
  /*max-height: 111px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__website_url-heading {
  position: relative;
  margin: 0;
  grid-column: 2;
  grid-row: 1 / 2;
  max-width: 288px;
  height: 15px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
}

.place__website_artist {
  position: relative;
  margin: 0;
  padding-bottom: 26px;
  grid-column: 2;
  grid-row: 1 / 2;
  max-width: 456px;
  height: 44px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
}

.place:nth-of-type(4) .place__website_artist:nth-last-of-type(2) {
  padding: 0;
  height: 26px;
}

.place__paragraph {
  position: relative;
  margin: 0;
  grid-column: 2;
  max-width: 484px;
  max-height: 416px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 163%;
  color: #ffffff;
}

.place:nth-of-type(1) .place__paragraph:nth-last-of-type(1) {
  grid-row: 3;
}

.place:nth-of-type(1) .place__paragraph:nth-last-of-type(2) {
  grid-row: 2;
}

.place:nth-of-type(2) .place__button {
  position: absolute;
  grid-row: 4;
  bottom: 0;
}

.place:nth-of-type(3) .place__button {
  grid-row: 6;
}

.cover {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1184px;
  max-height: 740px;
  align-items: center;
  /*border: 1px solid #ffffff;*/
}

.cover__background {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cover__overlay {
  position: absolute;
  margin: 0;
  width: 1184px;
  height: 740px;
  background-color: #2A2C2F;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

.cover:hover .cover__overlay{
  opacity: 0.8;
  transition: opacity 1s ease-in-out;
}

.cover__group {
  position: absolute;
  max-width: 656px;
  /*max-height: 254px;*/
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /*border: 1px solid white;*/
  z-index: 2;
}

.cover__group_title {
  position: relative;
  margin: 0;
  max-width: 656px;
  /*max-height: 152px;*/
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #ffffff;
}

.cover__group_subtitle {
  position: relative;
  margin: 0;
  max-width: 280px;
  /*max-height: 66px;*/
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  padding: 32px 0;
}

.cover__group_button {
  position: relative;
  margin: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  position: relative;
  margin: 0;
  width: 137px;
  height: 48px;
  background-color: #0278FE;
  border-radius: 4px;
}

.cover__group_button:hover {
  background-color: #0063d2;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.cover__group_button-paragraph {
  position: relative;
  margin: auto;
  max-width: 76px;
  max-height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer {
  position: relative;
  margin: 0 auto;
  max-width: 189px;
  /*max-height: 32px;*/
  /*border: 1px solid white;*/
}

.footer__copyright {
  position: relative;
  margin: 0 auto;
  padding-top: 92px;
  max-width: 100%;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #FFFFFF;
  text-align: center;
}