@import url(./fonts/Inter_Web/inter.css);

body {
  background-color: #2A2C2F;
}

.page {
  position: relative;
  width: 1280px;
  background-color: #2A2C2F;
  /*border: 1px solid white;*/
}

.logo {
  position: relative;
  margin: 0 auto;
  padding-top: 34px;
  width: 270px;
  height: 70px;
  align-items: center;
  /*border: 1px solid white;*/
}

.logo__square-vector {
  position: relative;
  background-color: #0278fe;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  align-items: center;
}

.logo__horizontal-vector {
  position: absolute;
  background-color: #2A2C2F;
  top: 6px;
  width: 32px;
  height: 2px;
}

.logo__vertical-vector {
  position: absolute;
  background-color: #2A2C2F;
  width: 2px;
  height: 26px;
  top: 6px;
  left: 11px;
}

.logo__text {
  position: absolute;
  width: inherit;
  margin: 0 auto;
  bottom: 1.43%;
  text-align: center;
  font-family: 'inter';
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.lead {
  position: relative;
  margin: 0 auto;
  padding-top: 91px;
  width: 984px;
  height: 983px;
  align-items: center;
  /*border: 1px solid white;*/
}

.lead__title {
  position: relative;
  margin: 0 auto;
  padding-bottom: 32px;
  text-align: center;
  align-items: center;
  width: 793px;
  height: 200px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  font-size: 96px;
  color: #ffffff;
}

.lead__subtitle {
  position: relative;
  margin: 0 auto;
  width: 720px;
  height: 72px;
  align-items: center;
  text-align: center;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
}

.lead__image {
  position: absolute;
  width: inherit;
  height: 615px;
  bottom: 0;
  object-fit: cover;
}

.lead__image_overlay {
  position: absolute;
  width: inherit;
  height: 615px;
  bottom: 0;
  background-color: #000;
  mix-blend-mode: hue;
}

.intro {
  position: relative;
  margin-left: 148px;
  padding: 92px 0 66px;
  width: 883px;
  height: 542px;
  /*border: 1px solid white;*/
}

.intro__title {
  position: relative;
  margin: 0;
  padding-bottom: 40px;
  width: inherit;
  height: 116px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  /*border: 1px solid white;*/
}

.intro__text {
  position: relative;
  font-family: 'inter';
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  /*border: 1px solid white;*/
}

.intro__text:nth-of-type(2) {
  margin: 0 0 -38px;
  width: 758px;
  height: 170px;
  font-size: 24px;
  line-height: 142%;  
}

.intro__text:nth-of-type(3) {
  margin: 0;
  width: 720px;
  height: 34px;
  font-size: 24px;
  line-height: 142%;
  text-align: right;
}

.intro__text:last-of-type{
  margin: 0;
  padding-top: 8px;
  width: 720px;
  height: 208px;
  font-size: 16px;
  line-height: 163%;
}

.photo-grid {
  position: relative;
  margin: 0 auto;
  width: 1184px;
  height: 442px;
  border: 1px solid white;
}

.places {}

.cover {}

.footer {}