.place__button {
  position: relative;
  margin: auto 0;
  grid-column: 1 / 2;
  grid-row: 4;
  width: 304px;
  height: 48px;
  background-color: #0278fe;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.place__button:hover {
  background-color: #0063d2;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .place__button {
    grid-row: 3;
  }

  .place:nth-of-type(2) .place__button {
    grid-row: 4;
  }

  .place:nth-of-type(5) .place__button {
    grid-row: 4;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .place__button {
    grid-column: 1;
    grid-row: 7;
    margin: 0 auto;
    width: calc(100vw - 32px);
  }
}