.photo-grid__item {
  margin: 0;
  max-width: 284px;
  height: 213px;
  object-fit: contain;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}