.lead__title {
  position: relative;
  margin: 0 auto;
  padding-bottom: 32px;
  text-align: center;
  align-items: center;
  max-width: 793px;
  /*max-height: 200px;*/
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  font-size: 96px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    /*max-height: 176px;*/
    font-size: 40px;
    line-height: 110%;
  }
}