.intro__text {
  position: relative;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  /*border: 1px solid white;*/
}

.intro__text:nth-of-type(1) {
  margin: 0;
  max-width: 758px;
  /*max-height: 170px;*/
  font-size: 24px;
  line-height: 142%;  
}

.intro__text:nth-of-type(2) {
  margin: 0;
  max-width: 720px;
  /*max-height: 34px;*/
  font-size: 24px;
  line-height: 142%;
  text-align: right;
}

.intro__text:last-of-type{
  margin: 0;
  padding-top: 8px;
  max-width: 720px;
  /*max-height: 208px;*/
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro__text:nth-of-type(1) {
    max-width: 720px;
  }  
}

@media screen and (max-width: 320px) {
  .intro__text:nth-of-type(1) {
    max-width: calc(100vw - 2rem);
    /*max-height: 300px;*/
    align-items: center;
    font-size: 20px;
    line-height: 150%;
  }

  .intro__text:nth-of-type(2) {
    max-width: calc(100vw - 2rem);
    /*max-height: 34px;*/
    align-items: center;
    font-size: 20px;
    line-height: 170%;
  }

  .intro__text:last-of-type {
    max-width: calc(100vw - 2rem);
    /*max-height: 432px;*/
    font-size: 15px;
    line-height: 163%;
  }
}