.lead__image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 64px;
}

.lead__image-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 2;
  mix-blend-mode: hue;
  /*background-blend-mode: hue;*/
}

@media screen and (width: 768px) {
  .lead__image-overlay {
    width: 100vw;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-overlay {
    height: 200px;
  }
}
